/*HOMEPAGE STYLES*/
#breaking-news-banner {
    margin:10px 0; 
    width:990px; 
    text-align:center;
}

#main-content-area {
	width:980px;
	margin:10px 0 0 5px;
	position:relative;
}
#main-content-area .col1 {
    width:310px;
    margin:0 5px 0 0;
    float:left;
}
#main-content-area .col2 {
    width:354px;
    margin:0 2px 0 0;
    float:left;
}
#main-content-area .col3 {
    width:304px;
    float:left;
}
	
#overlay-logo {
	position:absolute;
	top:-6px;
	left:-5px;
	height:100%;
	width:990px;
	background-image: url(/images/fe/overlay-logo.png);
	background-position: center 400px;
	background-repeat: no-repeat;
	background-color:#ef5394;
	z-index:100000;
}
.no-js #overlay-logo {
	display:none;
}
.top_promo { display: block; width: 979px; padding: 0 0 0 1px;  margin-bottom: 10px; text-align: center; }
.top_promo img { margin: 0 auto; }