/*
    sponsored bg: #eddff0
    sponsored accent: #e70f8d (pink)
    sponsored accent: #1dafec (blue)
*/
       
/* common styles */ 
.sponsored-by { 
    color: #e70f8d; 
    font-size: 9px;
    font-weight: normal;
    text-transform: uppercase; 
} 

.sponsor-name { 
    color: #1dafec; 
} 

.sponsored-wrapper {
    display: table;
}

.sponsored-wrapper .sponsored-by {
	text-transform: uppercase;
	color: #939598;
	
	font-family: 'proxima-nova', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 23px;
	letter-spacing: 1px;
}
    
.sponsored-wrapper .sponsored-logo {
    padding-left: 5px;
}        
.sponsored-wrapper .sponsored-logo img {
    vertical-align: middle;
    width: auto;
    height: 33px;
}
    
.sponsored-wrapper .sponsored-by,
.sponsored-wrapper .sponsored-logo {
    display: table-cell;
    vertical-align: middle;
}

/* news template */
.news-item.sponsored { 
    background-color: #eddff0 !important; 
} 

.news-item.sponsored h4 { 
    margin-bottom: 5px; 
}

/* homepage style & beauty module */
#beautystylenews .sponsored { 
    background-color: #eddff0; 
} 

#beautystylenews .sponsored h4 { 
    margin-bottom: 5px; 
} 

/* award hub template */
.latest-news .sponsored {
    background-color: #eddff0; 
}

.latest-news .sponsored p {
    margin-bottom: 4px;
}

/* article template */
#related-stories-content li.sponsored {
    background-color: #eddff0 !important;
    background-image: url(/images/fe/modules/related_stories-numbers-compact-3.png);
    
    height: auto !important;
}

#related-stories-content li.sponsored h4 {
    margin-bottom: 4px;
}

/* standard hub template */
.article-copy h2 {
    margin-bottom: 4px;
}